@charset "utf-8";

body {
    margin: 0;
    font-size: 15px;
    background-color: #7BA7FF;
    color: #222328;
}
a {
    color: #222328;
    text-decoration: none;
}
.container{
    width:1200px;
    margin: auto;
}
header{
    width: 1200px;
    height: 100px;
    position: relative;
    z-index: 10;
}
header > div{
    height: 100px;
 }
.header-logo{
    width: 300px; 
    height: 100px;
    float:left;
}
.header-logo img{
    width: 250px;
    height: 100px;
}
.navi{
    float: right;
    width: 800px;
}
.slide{
    height: 300px;
}
.slide > div{
    height: 300px;
}
.menu{
    padding-top: 50px;
    width: 100%;
    text-align: center;
    background-color: #7BA7FF;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.menu li{
    width:25%;
    line-height: 35px;
    float: left;
}
.menu li > a{
    display: block;
    background-color:#0066ad;
    color:#fff;
}
.menu li:hover > a{
    background-color: #0AC9FF;
    color:#fff;
    transition: 0.5s;
}
.sub-menu{
    background-color: #fff;
    display: none; 
}
.sub-menu a{
    display: block;
    padding: 5px;
    transition: 0.5s;
    color: #fff;
    background-color: #000;
}
.sub-menu a:hover{
    background-color: #0AC9FF;
    color:#fff;
}
.sub-back{
    background-color: #000;
    width:1200px;
    height:160px;
    position:absolute;
    left:0;
    top:100%;
    z-index:-1;
    display:none;
}
.slide{
    position: relative;
    width:1200px;
    height:500px;
    overflow: hidden;
}
.slide > div{
    font-size: 0;
}
.slide > div a{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    animation: slide 10s linear infinite;
}
.slide > div a:nth-child(1){
    animation-delay: 0s;
}
.slide > div a:nth-child(2){
    animation-delay: 3.5s;
}
.slide > div a:nth-child(3){
    animation-delay: 7s;
}
@keyframes slide{
    0%{
        opacity: 0;
        visibility: hidden;
    }
    5%{
        opacity: 1; 
    }

    35%{

        opacity: 1;  

    }

    40%{

        opacity: 0;  

    }
    100%{
        opacity: 0;
    }
}
.items{
    padding-top: 20px;
    overflow: hidden;
}
.items > div{
    height: 200px;
    box-sizing: border-box;
    float: left;
}
.news{
    width:500px;
}
.news .tab-inner{
    width:95%;
    margin: auto;
}
.news .tab-inner .btn{}
.btn a{
    border: 1px solid #0066ad;
    display: inline-block;
    width:100px;
    text-align: center;
    color:#fff;
    background:#0066ad;
    padding: 5px;
    border-radius: 5px 5px 0 0 ;
    margin-right:-6px;
    margin-bottom: -1px;
}
.btn a.active{
    background-color:#ababab;
    color:#fff;
    border: 1px solid #ababab;
}
.news .tab-inner .tabs{}
.news .tab-inner .tabs > a{}
.news .tab-inner .tabs > div{}
.items {
    height:200px;
}
.items > div {
    height: 200px;
    float:left;
}
.tab1 {
    border: 1px solid #0066ad;
    padding:0 10px;
}
.tab1 a{
    display: block;
    padding:5px;
    border-bottom: 1px solid #0066ad;
}
.tab1 a:last-child{
    border-bottom: none;
}
.tab1 a em{
    font-style: normal;
}
.tab1 a b{
    float: right;
    font-style: normal;
}
.tab2{
    border: 1px solid #0066ad;
    height: 165px;
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
    display: none; 
}
.tab2 img{
   width:120px;
} 
.banner{
    width:350px;
    
}
.banner img{
    width: 350px;
    height: 200px;
}
.shortcut{
    width:350px;
}
.shortcut img{
    padding-left: 20px;
    width: 350px;
    height: 200px;
}
footer{
  width:100%;
}
footer > div{
    height:100px;
    box-sizing: border-box;
    float: left;
}
footer{
  width:100%;
}
footer > div{
    height:100px;
    box-sizing: border-box;
    float: left;
}
.copyright{
    line-height: 70px;
    text-align: center;
}